Port 22

# PermitRootLogin prohibit-password
PermitRootLogin no
ChallengeResponseAuthentication no
PasswordAuthentication no
RSAAuthentication yes
PubkeyAuthentication yes
AuthorizedKeysFile	%h/.ssh/authorized_keys
GatewayPorts yes
